venv/

frontend/recipe_ai_flutter/*.class
frontend/recipe_ai_flutter/*.log
frontend/recipe_ai_flutter/*.pyc
frontend/recipe_ai_flutter/*.swp
frontend/recipe_ai_flutter/.DS_Store
frontend/recipe_ai_flutter/.atom/
frontend/recipe_ai_flutter/.buildlog/
frontend/recipe_ai_flutter/.history
frontend/recipe_ai_flutter/.svn/
frontend/recipe_ai_flutter/migrate_working_dir/
frontend/recipe_ai_flutter/*.iml
frontend/recipe_ai_flutter/*.ipr
frontend/recipe_ai_flutter/*.iws
frontend/recipe_ai_flutter/.idea/
frontend/recipe_ai_flutter/**/doc/api/
frontend/recipe_ai_flutter/**/ios/Flutter/.last_build_id
frontend/recipe_ai_flutter/.dart_tool/
frontend/recipe_ai_flutter/.flutter-plugins
frontend/recipe_ai_flutter/.flutter-plugins-dependencies
frontend/recipe_ai_flutter/.pub-cache/
frontend/recipe_ai_flutter/.pub/
frontend/recipe_ai_flutter/build/
frontend/recipe_ai_flutter/app.*.symbols
frontend/recipe_ai_flutter/app.*.map.json
frontend/recipe_ai_flutter/android/app/debug
frontend/recipe_ai_flutter/android/app/profile
frontend/recipe_ai_flutter/android/app/release
